@page
@model ReactorGame.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
    Layout = "_Layout";
}
<h1>Game Settings</h1>

<h2>Scenarios:</h2>

<ul id="reorderable-list" class="list-group">
    @for (var i = 0; i < Model.Settings.Scenarios.Count; i++)
    {
        <li class="list-group-item">
            <a asp-page="/Scenario" asp-route-scenarioId="@i">
                @Model.Settings.Scenarios[i].ScenarioName
            </a>
        </li>
    }
</ul>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/settingsList.js"></script>
}
