@page
@{
    ViewData["Title"] = "Settings Saved";
    Layout = "_Layout";
}
<h1>Settings Saved</h1>
<p>Your settings have been saved.</p>
<!--Link to scenario page-->
<a asp-page="/Scenario">Go to scenario</a>